
.bookshelf-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookshelf-page-content-container {
  display: flex;
  flex-direction: row;
}

.bookshelf-page-bookshelf-index-container {
  width: 160px;
  padding: 10px;
}

.bookshelf-main-divider-line {
  border-bottom: 1px solid #EBE8D5;
  width: 910px;
}