.bookshelf-index-item {
  font-size: 14px;
  color: #036a63;
  text-decoration-color: #036a63;
  text-decoration-line: none;
}

.bookshelf-index-item:hover{
  text-decoration-line: underline;
}

.mybooks_text_container {
  padding: 12px 5px 5px 0px;
}

.mybooks_text {
  font-size: 14px;
  font-weight: bold;
  
}

.default-bookshelf-container {
  border-bottom: 1px solid black;
}