.book-show-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  background-size: cover;
  // height: 100vh;
  width: 100vw;
}

.book-show-head-container{
  display: flex;
  flex-direction: row;
  width: 975px;
  padding: 10px;
}

.book-show-cover{
  width: 180px;
  box-shadow: #ddd 0px 5px 5px;
}

.book-show-info-container{
  padding: 10px;
}

.book-show-title{
  font-family: "Merriweather", "Georgia", serif;
  font-size: 24px;
  padding: 5px;
}

.book-show-author{
  font-family: "Merriweather", "Georgia", serif;
  font-size: 18px;
  padding: 5px;
}

.book-show-description{
  font-family: "Merriweather", "Georgia", serif;
  font-size: 16px;
  padding: 5px;
}

.book-show-header-divider-line{
  border-bottom: 1px solid #341f10;
  width: 778px;
}

.book-show-details-container{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
}

.book-show-pages-container{
  display: flex;
  flex-direction: row;
}

.book-show-pages-name{
  width: 120px;
  font-weight: bold;
  padding: 2px;
}

.book-show-year-container{
  display: flex;
  flex-direction: row;
}

.book-show-year-name{
  width: 120px;
  font-weight: bold;
  padding: 2px;
}

.book-show-isbn-container{
  display: flex;
  flex-direction: row;
}

.book-show-isbn-name{
  width: 120px;
  font-weight: bold;
  padding: 2px;
}

.book-show-main-divider-line{
  border-bottom: 1px solid #341f10;
  width: 965px;
}

.book-show-reviews-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-show-shelvings-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 10px;
}

.shelving-button-container{
  display: flex;
  color: #036a63;
  font-size: 14px;
  background-color: #ebe9e6;
  border-radius: 3px;
  padding-left: 5px;
  align-items: left;
}

.shelving-button-container:hover{
  cursor: pointer;
  background-color:  rgb(219, 216, 211);
  padding-left: 5px;
}

.review-index-container{
  width: 800px;
}

.user-review-display-container{
  width: 800px;
  padding-top: 5px;
  // border-top: 1px solid red;
  
  
}

.write-review-input{
  width: 600px;
  height: 200px;
}

.update-review-input{
  width: 600px;
  height: 200px;
}

.review-index-item-container{
  border-top: 1px solid black;
  padding-top: 5px;
  margin-top: 5px;
 
  
}

.review-action-button{
  background-color: #ebe9e6;
  border-radius: 3px;
  color: #036a63;
  font-size: 14px;
}
.review-action-button:hover{
  cursor: pointer;
  background-color: rgb(219, 216, 211);
}