.bookshelf-index-item {
  font-size: 14px;
  color: #036a63;
  text-decoration-color: #036a63;
  text-decoration-line: none;
}

.bookshelf-index-item:hover{
  text-decoration-line: underline;
}

.bookshelf-display-item {
  font-size: 12px;
  color: #036a63;
  text-decoration-color: #036a63;
  text-decoration-line: none;
}

.bookshelf-display-item:hover{
  text-decoration-line: underline;
}

.mybooks_text_container {
  padding: 12px 5px 5px 0px;
}

.mybooks_text {
  font-size: 14px;
  font-weight: bold;
  
}

.default-bookshelf-container {
  border-bottom: 1px solid black;
}

.add-bookshelf-submit-container {
  padding: 4px 11px;
}

.add-bookshelf-submit {
  background-color: rgb(235, 233, 230);
  border-radius: 3px;
  border: 1px solid color rgb(211, 204, 190)
}

.add-bookshelf-submit:hover {
  cursor: pointer;
  background-color: rgb(219, 216, 211);
}

.add-bookshelf-input {
  border: 1px solid rgb(228, 222, 210);
  border-radius: 3px;
  width: 100px;
  padding: 2px;
}

.add-bookshelf-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.delete-bookshelf-button{
  background-color: #ebe9e6;
  border-radius: 3px;
  color: #036a63;
  font-size: 14px;
  margin-left: 3px;
}

.delete-bookshelf-button:hover {
  cursor: pointer;
  background-color: rgb(219, 216, 211);
}