.book-show-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  background-size: cover;
  width: 100vw;
}

.book-show-head-container{
  display: flex;
  flex-direction: row;
  width: 975px;
  padding: 10px;
}

.book-show-cover{
  width: 180px;
  box-shadow: #ddd 0px 5px 5px;
}

.book-show-info-container{
  padding: 0px 10px 10px 10px;
}

.book-show-title{
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: "Merriweather", "Georgia", serif;
  font-size: 24px;
  // padding: 5px;
}

.book-show-author{
  font-family: "Merriweather", "Georgia", serif;
  font-size: 18px;
  margin-bottom: 4px;
  // padding: 5px;
}

.book-show-description{
  font-family: "Merriweather", "Georgia", serif;
  font-size: 16px;
  margin-bottom: 8.5px;
  // padding: 5px;
}

.book-show-header-divider-line{
  border-bottom: 1px solid #341f10;
  width: 778px;
}

.book-show-details-container{
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 14px;
}

.book-show-pages-container{
  display: flex;
  flex-direction: row;
  padding-top: 7.5px;
}

.book-show-pages-name{
  width: 120px;
  font-weight: bold;
  padding: 4px 2px 2px 0px;
}

.book-show-pages-val{
  padding: 4px;
}

.book-show-year-container{
  display: flex;
  flex-direction: row;
}

.book-show-year-name{
  width: 120px;
  font-weight: bold;
  padding: 4px 2px 2px 0px;
}

.book-show-year-val{
  padding: 4px;
}

.book-show-isbn-container{
  display: flex;
  flex-direction: row;
}

.book-show-isbn-name{
  width: 120px;
  font-weight: bold;
  padding: 4px 2px 2px 0px;
}

.book-show-isbn-val{
  padding: 4px;
}

.book-show-main-divider-line{
  border-bottom: 1px solid #341f10;
  width: 975px;
}

.book-show-reviews-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-show-read-status{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
  align-items: center;
}

.read-status-container{
  width: 100%;
}

.read-status{
  background: #ebe9e6;
  color: #036a63;
  width: 100%;
  padding-left: 5px;
  border: 1px;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-radius: 3px;
  overflow: hidden;
}


.read-status-none{
  color: #ffffff;
  background: #036a63;
  width: 100%;
  padding-left: 5px;
  border-radius: 3px;
  overflow: hidden;
}

.menu-toggle-button{
  border-radius: 3px;
  background: #036a63;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.menu-toggle-button:hover{
  background: #055c56;
  cursor: pointer;
}

.menu-toggle-button:focus{
  outline: none;
}

.menu{
  display: none;
  flex-direction: column;
  align-items: left;
  padding: 3px;
  border: 1px solid rgb(230, 221, 221);
  border-radius: 3px;
  width: 172px;
  overflow: hidden;

}

.show{
  display: flex;
  position: absolute;
  background: #ffffff;
}

.shelving-button-container{
  display: flex;
  color: #036a63;
  font-size: 14px;
  background-color: #ebe9e6;
  border-radius: 3px;
  padding-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  align-items: left;
}

.shelving-button-container:hover{
  cursor: pointer;
  background-color:  rgb(219, 216, 211);
  padding-left: 5px;
  
}

.review-index-container{
  width: 975px;
}

.user-review-container{
  width: 975px;
  margin-bottom: 5px;
}

.user-review-display-container{
  width: 800px;
  padding-top: 5px;
  
  
}

.write-review-input{
  width: 600px;
  height: 200px;
}

.update-review-input{
  width: 600px;
  height: 200px;
}

.review-submit{
  background-color: #ebe9e6;
  border-radius: 3px;
  color: #036a63;
  font-size: 14px;
  margin-left: 3px;
}

.review-submit:hover{
  cursor: pointer;
  background-color: rgb(219, 216, 211);
}

.review-delete-button{
  background-color: #ebe9e6;
  border-radius: 3px;
  color: #036a63;
  font-size: 14px;
  margin-left: 3px;
}

.review-delete-button:hover{
  cursor: pointer;
  background-color: rgb(219, 216, 211);
}

.review-action-button{
  background-color: #ebe9e6;
  border-radius: 3px;
  color: #036a63;
  font-size: 14px;
}
.review-action-button:hover{
  cursor: pointer;
  background-color: rgb(219, 216, 211);
}
.review-index-item-container{
  border-top: 1px solid black;
  padding-top: 5px;
  margin-top: 5px;
  font-size: 14px;
  font-family: "Merriweather", "Georgia", serif;
  
}
.reviewer-username-container{
  font-weight: 700;
  font-family: "Merriweather", "Georgia", serif;
}