.navbar-user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-home-link{
  text-decoration: none;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.home-page-content-container {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  width: 970px;
}

.home-page-bookshelf-index-container {
  width: 160px;
  padding: 10px;
}

.top-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.15);
  background: #f9f9e9;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  // max-width: 1000px;
  width: 1200px;
  // min-width: 760px;
}

.navbar-header-name-container {
  margin: 7px;
  padding: 4px;
}

.navbar-logout-button-container {
  margin: 7px;
}

.navbar-logout-button {
  cursor: pointer;
}

.home-page-bar-text-best {
  font-size: 38px;
  font-weight: 200;
  color: #827467;
}

.home-page-bar-text-reads {
  font-size: 38px;
  font-weight: 400;
  color: #362111;
  
}

.navbar-logout-button {
  height: 34px;
  width: 70px;
  font-size: 14px;
  color: white;
  background-color: #342910;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: 0;
  -webkit-appearance: none;
}

.navbar-logout-button:hover {
  background-color: #4a3d20;
  cursor: pointer;
}

.mybooks-link-container {
  width: 920px;
  padding-top: 10px;
  padding-left: 10px;
}

.mybooks-link {
  text-decoration: none;
}

.mybooks-link-text {
  text-decoration: none;
  color: #036a63;
  font-size: 20px;
  font-weight: bold;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  
}

.mybooks-link-text:hover {
  text-decoration: underline;
}

.header-name {
  font-size: 15px;
}

.navbar-links-container {
  display: flex;
  flex-direction: row;
  height: 58px;
}

.navbar-home-link {
  padding-right: 15px;
}

.navbar-home-my-books {
  color: #362111;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 16px;
}

.navbar-home-my-books:hover {
  color: #f9f9e9;
  background: #362111;
}

.navbar-home-home-link {
  color: #362111;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  justify-content: center;
  font-size: 16px;
}

.navbar-home-home-link:hover {
  color: #f9f9e9;
  background: #362111;
}

.home-page-text {
  display: flex;
  flex-direction: row;
}

.navbar-links-container-2 {
  display: none;
}

.navbar-left-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-home-icon {
  display: none;
}

@media (min-width: 768px) and (max-width: 1199px) {

  .top-bar-container {
    box-shadow: none;
  }

  .navbar-container {
    width: 100%;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-links-container-2 {
    display: flex;
    justify-content: center;
    height: 58px;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.15);
    width: 100vw;
  }

  .navbar-home-my-books {
    padding: 0px 30px 0px 30px
  }

  .navbar-home-home-link {
    padding: 0px 30px 0px 30px
  }
}

@media (min-width: 1px) and (max-width: 767px) {

  .top-bar-container {
    box-shadow: none;
  }

  .navbar-container {
    width: 100%;
  }

  .navbar-left-container {
    width: 100%;
    height: 58px;
    justify-content: center;
  }

  .navbar-links-container {
    display: none;
  }

  .navbar-links-container-2 {
    display: flex;
    justify-content: center;
    height: 58px;
    box-shadow: 1px 0px 2px rgba(0,0,0,0.15);
    width: 100vw;
  }

  .navbar-home-my-books {
    padding: 0px 30px 0px 30px
  }

  .navbar-home-home-link {
    padding: 0px 30px 0px 30px
  }
  
  .navbar-header-name-container {
    margin: 0px;
    padding: 0px;
  }

  .header-name {
    display: none;
  }

  .nav-home-icon-container {
    width: 20px;
    height: 20px;
  }

  .nav-home-icon {
    display: flex;
    background-image: image_url('bestreads_nav_home.png');
    background-position: center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
  }

  .navbar-home-link {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-right: 0px;
  }
}