.navbar-user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page-content-container {
  display: flex;
  flex-direction: row;
}

.home-page-bookshelf-index-container {
  width: 160px;
  padding: 10px;
}

.top-bar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0px 0px 2px #362111;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  min-width: 1000px;
}

.navbar-header-name-container {
  margin: 7px;
  padding: 4px;
}

.navbar-logout-button-container {
  margin: 7px;
}

.navbar-logout-button {
  cursor: pointer;
}

.home-page-bar-text-best {
  font-size: 38px;
  font-weight: 200;
  color: #827467;
}

.home-page-bar-text-reads {
  font-size: 38px;
  font-weight: 400;
  color: #362111;
  
}

.navbar-logout-button {
  height: 34px;
  width: 70px;
  font-size: 14px;
  color: white;
  background-color: #342910;
  border: 1px solid #ccc;
  border-radius: 4px;
  // padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

.navbar-logout-button:hover {
  background-color: #4a3d20;
  cursor: pointer;
}

.header-name {
  font-size: 15px;
}