.start-page-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  min-width: 975px;
}

.start-page-text-best {
  font-size: 47px;
  font-weight: 200;
  color: #95897d;
}

.start-page-text-reads {
  font-size: 47px;
  font-weight: 300;
  color: #362111;
  
}

.login-form-container {
  display: flex;
  flex-direction: row;
}

.signup-form-container {
  display: flex;
  min-width: 200px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.sign-up-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  min-width: 975px;
  justify-content: space-between;
  padding: 70px;
}

.start-page-container {
  display: flex;
  background-image: image_url('bestreadsbookshelf.jpg');
  height: 370px;
  flex-direction: column;
  align-items: center;
}