.start-page-bar-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.start-page-bar {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 975px;
  height: 75px;
}

.slogan-img {
  padding-left: 90px;
  padding-bottom: 50px;
}

.start-page-text-best {
  font-size: 47px;
  font-weight: 200;
  color: #675544;
}

.start-page-text-reads {
  font-size: 47px;
  font-weight: 300;
  color: #362111;
  
}

.login-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-input {
  height: 20px;
  width: 130px;
  font-size: 15px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

.login-input:focus {
  border: 1px solid rgb(52, 49, 49);
}

.login-submit {
  height: 34px;
  width: 65px;
  font-size: 14px;
  color: white;
  background-color: #342910;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

.login-submit:hover {
  background-color: #4a3d20;
  cursor: pointer;
}

.signup-input {
  height: 30px;
  width: 280px;
  font-size: 20px;
  margin: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

.signup-input:focus {
  border: 1px solid rgb(52, 49, 49);
}

.signup-submit {
  height: 40px;
  width: 90px;
  font-size: 20px;
  background-color: #facf61;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

.signup-submit:hover {
  background-color: #fed670;
  cursor: pointer;
}

.signup-form-container {
  display: flex;
  min-width: 280px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.sign-up-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 975px;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
}

.start-page-container {
  display: flex;
  background-image: image_url('bestreadsbookshelf.jpg');
  height: 370px;
  flex-direction: column;
  align-items: center;
}

.demo-button {
  height: 34px;
  width: 100px;
  font-size: 14px;
  color: white;
  background-color: #342910;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 7px;
  outline: 0;
  -webkit-appearance: none;
}

.demo-button:hover {
  background-color: #4a3d20;
  cursor: pointer;
}

.selling-point-box{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.selling-point{
  width: 360px;
  margin-top: 10px;
  color: #504120;
  font-size: 14px;
  font-family: "Merriweather", "Georgia", serif;
}

.selling-headline{
  color: #342910;
  font-size: 20px;
  font-family: "Merriweather", "Georgia", serif;
  padding: 2px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f9e9;
  text-align: center;
}

.per-nav-links-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  background-color: #f9f9e9;
  border-radius: 3px;
 

}

.per-nav-link {
  padding: 10px;
  font-weight: 300;
  font-size: 1.5em;
}

i {
  color: #362111;
}

.per-nav-link:hover{
  animation: shadow-drop 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background-color: #f9f9e9;
}

@-webkit-keyframes shadow-drop {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(25px);
            transform: translateZ(25px);
    box-shadow: 0 0 5px 1px #504120; 
  }
}
@keyframes shadow-drop {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(25px);
            transform: translateZ(25px);
    box-shadow: 0 0 5px 1px #504120;
  }
}